#periods{
    margin-bottom: 2rem;
}
#period-title{
    width: 100%;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;

    /* border-bottom: 1px solid var(--border-divisor); */
    align-items: center;
    justify-content: space-between;
    
    & img{
        width: 1.25rem;
        height: 1.25rem;
    }
    & strong{
        font: var(--label-lg);
        color: var(--content-primary);
        flex-grow: 1;
        text-align: left;
    }
    & span{
        font: var(--label-lg);
        color: var(--content-secondary);
    }
}

#scheduled-pets{
    max-width: 19.375rem;

    margin-inline: auto;
}

#scheduled-pet{
    width: 100%;
    padding: 0.75rem 0.75rem;
    margin-top: 1rem;

    & strong{
        font: var(--label-md);
        color: var(--content-primary);
    }
    & span{
        font: var(--pg-md);
        color: var(--content-secondary);
    }
    & p{
        font: var(--pg-sm);
        color: var(--content-tertiary);

        padding-top: 0.5rem;
        margin-top: auto;
        align-self: flex-end;
    }
    & p:hover{
        cursor: pointer;
    }
}

@media (min-width: 44.4375rem) {
    #scheduled-pets{
        max-width: 90%;
    }
    #scheduled-pet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding-block: 1.5rem;
    }
}