.container{
    max-width: var(--atual-width);
    margin-inline: auto;
}

.period{
    width: 100%;
    background-color: var(--background-tertiary);
    border-radius: 0.75rem;
}

/* No JS, utilizar o for para colocar borda em todos, exceto no último */
.border-bottom{
    border-bottom: 1px solid var(--border-divisor);
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.gap-2{
    gap: 2rem;
}
.gap-125{
    gap: 1.25rem;
}
.gap-75{
    gap: 0.75rem;
}
.margin-2{
    margin-top: 2rem;
}